/* @keyframes breathe {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.8;
    }
}

.gradient {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 500px;
    background: radial-gradient(
        circle 200px,
        #5f43b2 0%,
        transparent 100%
    );
    background-repeat: no-repeat;
    animation: breathe 4s ease-in-out infinite;
} */
