.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.center { 
  display: flex; 
  justify-content: center; 
  align-items: center;
  min-height: 85vh;
}

.grid {
  display: grid;
  gap: 5vh 5vw;
  grid-template-columns: auto auto auto auto;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 5vh 5vw;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .grid {
    gap: 10px;
  }
}

/* 
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  max-width: 100%;
  width: 100%;
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  text-align: center;
} */