.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.navbar {
  position: sticky;
  top: 0;
}

.center { 
  display: flex; 
  justify-content: center; 
  align-items: center;
  min-height: 75vh;
}

