/*!*******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************/
.page_container__aoG4z {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.page_navbar__chktt {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.page_center__5oHG7 { 
  display: flex; 
  justify-content: center; 
  align-items: center;
  min-height: 75vh;
}


/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Navbar/Navbar.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.Navbar_container__zauSF ul {
    list-style-type: none;
    overflow: hidden;
    margin: 1;
    padding: 0;
    outline: 1px solid white;
}

.Navbar_container__zauSF li {
    float: left;
}

.Navbar_container__zauSF li a {
    display: block;
    text-align: center;
    padding: 1vh 1vw;
    text-decoration: none;
}

.Navbar_container__zauSF li a:hover {
    background-color: yellowgreen;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Projects/Projects.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************/
.Projects_grid__pXyJr {
    display: grid;
    grid-gap: 5vh 5vw;
    gap: 5vh 5vw;
    grid-template-columns: auto auto auto auto;
    margin: 10px;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/components/Projects/assests/Card.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
.Card_card__XAQD_ {
    border: 1px solid rgb(255, 255, 255);
    padding: 5vh 5vw;
    text-align: center;
}

.Card_card__XAQD_:hover {
    background-color: yellowgreen;
}
